{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 6
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "syntax-dynamic-import",
    "dynamic-import-node",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "helpers": false
    }]
  ]
}
